{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Se connecter</h1>
            
            <form action="{{ path("app_security_login") }}" method="post">
                <input type="email" class="form-control" name="_username" id="">
                <input type="password" class="form-control" name="_password" id="">

                <input type="submit" class="btn btn-secondary" value="Se connecter">
            </form>

        </div>
    </div>
{% endblock %}