{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Blog{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Bienvenue sur mon Blog</h1>
        {% if age >= 18 %}
        <p>Bonjour {{ firstname }}, tu es majeur!</p>
        {% else %}
        <p>Bonjour {{ firstname }}, tu es mineur!</p>
        {% endif %}
    </div>
</div>
{% endblock %}