<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset("style/bootstrap.min.css") }}">

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('home') }}">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
                aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('home') }}">Accueil
                            <span class="visually-hidden">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article') }}">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('article_new') }}">Ajouter un article</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cgu') }}">CGU</a>
                    </li>
                   
                </ul>
               
            </div>
        </div>
    </nav>

    <!-- 
        MESSAGE FLASH 
    -->
{% for type, messages in app.flashes %}
    {% for message in messages %}
    <div class="alert alert-dismissible alert-{{ type }}">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        {{ message }}
    </div>
  
    {% endfor %}
  {% endfor %}

    <div class="container">
    {# C'est un commentaire #}
    {% block body %}{% endblock %}
    </div>
    {% block footer %}Footer ici{% endblock %}
    <script src="{{ asset("js/bootstrap.min.js") }}"></script>
</body>

</html>