{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block body %}
<div class="row">
<article>
    
    <h2>
        {{ article.title }} 
        {% if article.status.internalName == 'draft' %} 
            <span class="badge">Brouillon</span> 
        {% endif %}
    </h2>

    <div class="metadata">écrit le {{ article.createdAt|date('d/m/Y') }} à {{ article.createdAt|date("h:i") }} dans la catégorie {{ article.category.label }}</div>
    <div class="content">
        <img src="{{ article.image }}" alt="image sur {{ article.title }}">
        <p>{{ article.content|raw }}</p>
    </div>
    
    <hr>
    <section>
    <h2>Les commentaires</h2>
    <fieldset class="my-2 border">

    <legend>Votre commentaire</legend>
    {{ form_start(formComment)}}
    {{ form_end(formComment)}}
    </fieldset>
    {% for comment in article.comments %}
        <article class="bg-light text-dark">
        <h3>{{ comment.author }} - publié le {{ comment.createdAt|date('d/m/Y') }} à {{ comment.createdAt|date('H:i') }} </h3>
        <p>{{ comment.content|raw }}</p>
        </article>
    {% endfor %}
    </section>
    <hr>
    <a href="{{ path('article_edit', {'id': article.id }) }}" class="btn btn-primary">✎</a>
    <a href="{{ path('article_delete', {'id': article.id }) }}" class="btn btn-danger" id="btndelete">🗑</a>
</article>
</div>


<script>
    let btnDelete = document.getElementById("btndelete");
    btnDelete.addEventListener('click', function(e){
        
        if(!confirm("Voulez-vous supprimer cet article")){
            e.preventDefault();
        }
    });
</script>

{% endblock %}




